/* Import Fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Space+Grotesk:wght@400;500;600;700&display=swap");

/* Base Font */
body {
  font-family: 'Inter', system-ui, sans-serif;
  background-color: #000000;
}

/* Heading Font */
.font-display {
  font-family: 'Space Grotesk', 'Inter', sans-serif;
}
.bg-nav-button{
    background-color: #1a1a1a;
}
.bg-nav-button:hover{
    background-color: #373737;
}